*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    font-family: "Inter", sans-serif;
    color:white;
    min-height: 100% ;
    margin: 0;
    padding: 0;
}

/* HEADER */

.header{
    width: 100%;
    background-color: #004C58E8;
    height: 70px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999    ;
    
}
.container{
    width: 90%;
    margin: auto;
}
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.nav-logo{
    width: 20%;
    font-size: 36px;
    font-weight: 750;
    line-height: 100%;
    letter-spacing: -4%;
    color: white;
}
.nav{
    width: 60%;
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    font-weight:500;
    line-height: 30px;
    letter-spacing: -4%;
}
.nav ul{
    display: flex;
    gap: 50px; 
    list-style: none;
}
.nav ul li a{
    color: white;
    text-decoration: none;
    transition: 0.3s ease;
   
}
.nav ul li a:hover{
    color:rgb(245, 185, 75);
    /* padding: 10px; */

}
.nav-button{
    width: 20%;
    height: 46px;
    display: flex;
    justify-content: flex-end; 
}
.nav-button button{
    width: 146px;
    height: 46px;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -4%;
    color: white;
    background-color: #1797A1;
    border: none;
    border-radius: 30px;
    cursor: pointer; 
}
.hamburger{
    display: none;
}

/* HERO-SECTION */

.hero-section{
    width: 100%;
    height:950px;
    background-color:#004C58E8; 
    display: flex;  
    align-items: center;
}
.hero-section .container{
    width: 95%;
    height: 627px;
    color: white;
    display: flex;
    align-items: center;
    gap: 20px;
}
.hero-text{
    width: 660px;
    height: 611px;   
    margin: auto;
}
.hero-text h1{
    max-width: 640px;
    font-size: 62px;
    font-weight: 600;
    line-height: 65px;
    letter-spacing: -4;
    text-transform: capitalize;
    margin-bottom: 30px;
}
.hero-text p{
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -4%;
    margin-bottom: 30px;
    
}
.hero-text button{
    width: 264px;
    height: 64px;
    background-color: #0059FF4D;
    border:none;
    border-radius: 25px;
    color: white;
    font-size: 26px;
    font-weight: 700;
    line-height: 100%;
    text-transform: capitalize;
    padding: 14px 20px 14px 20px;
}
.hero-img{
    width: 600px;
    height: 550px;
    margin: 25px 10px 25px 10px;
}

/* SERVICES */

.services{
    width: 95%;
    min-height: 900px;
    color: black;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    margin-top: 106px;
    gap: 100px;

}
.subtitles{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 100px;   
}
.title{
    width: 447px;
    
}
.title p{
    font-size: 16px;
    color: #00DB99;
    letter-spacing: -4%;
}
.title h2{
    width: 500px;
    /* height: 112px; */
    font-size: 48px;
    color: #3C557A;
    letter-spacing: -4%;
    line-height: 56px;
}

.crousel{ 
    width: 100px;
    height: 33px;
    display: flex;
    gap: 29px;
    margin-left: 40px;
}
.subtitles p{
    width: 453px;
    /* height: 90px; */
    line-height: 30px;
    letter-spacing: -4%; 
    font-size: 18px;
}
.service{
    width: 100%;
    height:auto;
    display: flex;
    justify-content: center;
    gap: 50px;
    
}
.service-card{
    width: 405px;
    height: 510px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s ease-in;
}
.service-card:hover{
    transform: scaley(1.1);
    background: linear-gradient( #AAE9EB,#FFFFFF);
    transition: 0.4s ease-in-out;
    box-shadow: 0px 0px 5px #88888840;
}

.service img{
    width: 100%;
    height: 227px;
    border-radius: 10px;
    object-fit: cover;
}
.card-text{
    width: 391px;
    height: 195px;
}
.service h2{
    width: 90%;
    font-size: 32px;
    margin-top: 20px;
    color: #3C557A;
}
.service p{
    width: 100%;
    height: 120px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -4%;
    margin-top: 30px;
}

/* ACHIEVMENT */
.achievment{
    width: 90%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;  
    text-align: center; 
    
}
.higlight{
    width: 248px ;
    height: 200px;
    color: black;
}
.higlight h2{
    font-size: 44px;
    font-weight: 500;
    letter-spacing:264%;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -4%;
    line-height: 100%;
    padding: 10px; 
    color: #3C557A;
}
.higlight p{
    width: 248px;
    height: 29px;
    font-size: 26px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -4%;
    padding: 10px;
}

/* FEATURES */
.features-section{
    width: 90%;
    height: 1151px;
    color: black;
    margin: auto;
}
.features{
    width: 100%;
    height: 874px;
    display: flex;
    justify-content: center;
    align-items: center ;
    /* text-align: center; */
    flex-wrap: wrap;
    gap: 55px;
    /* margin: auto; */
    margin-top: 20px;
}
.feature{
    width: 397px;
    height: 397px;
    background-color: white;
    box-shadow: 0 0 10px rgba(139, 138, 138, 0.1);
    /* box-shadow: 0 0 25px rgba(238, 235, 235, 0.3); */
    /* border: 1px solid rgb(128, 125, 125)8, 67, 67; */
    /* box-shadow: 2px 4px 2px 1px rgba(172, 170, 170, 0.5); */
    text-align: center;
    margin-top: 40px;
    transition: 0.3s ease-in-out;
}
.feature:hover{
    transform: scaley(1.1);
    background: linear-gradient(#AAE9EB,white);
    transition: 0.4s ease-in-out;
    box-shadow: 0px 0px 5px #88888840;
}he
.feature img{
    width: 142px;
    height: 137;
    object-fit: cover;
    padding-top: 45px;
}
.feature.text{
    width: 314px;
    height: 135px;
    padding: 20px;
    /* margin: 20px; */
    text-align: center;
    /* margin-top: 20px; */
}
.feature .text h2{
    font-size: 32px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -4%;
    padding: 10px;
    color: #3C557A;
    margin-top: 30px;
}
.feature .text p{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -4%;
    padding: 20px;
}

/* ABOUT US */
.about-us{
    width: 100%;
    height: 625px;
    background-color: #004C58E0;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 150px;
}
.about-us .container{
    width: 100%;
    height: 468px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-text{
    width: 551px;
    height: 344px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: auto;
}
.about-text h2{
    width: 466px;
    /* height: 112px; */
    color: white;
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: -4%;
}
.about-text p{
    width: 551px;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -4%;
    color: #e0e0e0;
}
.about-img{
    width: 50%;
    display: flex;
    gap: 10px;

}
.about-img img{
    width: 48%;
    height: 367px;
    border-radius: 10px;
    /* padding: 162px 170px 162px 170px; */
}

/* OUR TEAM */
.our-team{
    width: 90%;
    height: 700px;
    color: black;
    text-align: center;
    margin: auto;
    margin-top: 150px;
}
.our-team h1{
    font-size: 48px;
    font-weight: 600;
    color: #3C557A;
    text-transform: capitalize;
    line-height: 56px;
    letter-spacing: -4px;

}   
.our-team p{
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -4%;
    margin-top: 20px;
}
.teams{
    width:90%;
    height: 481px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: auto;
    margin-top: 50px;
}
.team{
    width: 314px;
    height: 481px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
    /* gap: 38px; */
}
.team:hover{
      transform: scaley(1.1);
    background: linear-gradient( #AAE9EB,#FFFFFF);
    transition: 0.4s ease-in-out;
    box-shadow: 0px 0px 5px #88888840;
}
.team img{
    /* width: 50%; */
    width: 220px;
    height: 213px;
}
.team h2{
    color:#3C557A ;
    font-size: 32px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -4%;
    padding: 5px;
}
.team p{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -4%;
    padding: 5px;
}
.team .img {    
    width: 20%;
    display: flex;
    justify-content: center;
    gap: 30px;
    text-align: center;
    padding: 5px;
}
.team .img img{
    width: 32px;
    height: 32px;
    text-align: center;
    display: flex;
    justify-content: center;
}

/* OUR PROJECT */
.our-projects{
    width: 90%;
    height: 1800px;
    margin: auto;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: black;
}
.projects{
    width: 100%;
    height: 1550px;
    display: flex;
    gap: 80px;
    margin: auto;
    margin-top: 100px;
    /* align-items: center; */
    justify-content: center;
}
.project-column1{
    width: 580px;
    height: 900px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.project-column2{
    width: 580px;
    height: 900px;
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin-top: 200px;    

}
.project{
    width: 580px;
    height: 628px;
}
.project img{
    width: 100%;
    height: 411px;
    object-fit: cover;
}
.project-title h2{
    color: #3C557A;
    font-size: 36px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -4%;;
    padding-top: 40px;
    padding-bottom: 5px;
}
.project-title p{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -4%;
    padding-bottom: 15px;
}
.info h3{
    width: 129px;
    height: 29px;
    color:#3C557A ;
    font-size: 23px;
    font-weight: 500;
    line-height: 35px;
    letter-spacing: -4%;
}

/* TESTIMONIAL */
.testimonials {
  background-color: #f9f9f9;
  padding: 80px 20px;
  text-align: center;
  margin-top: 50px;
}
.testimonials .section-title {
  font-size: 48px;
  font-weight: 600;
  letter-spacing: -4%;
  line-height: 100%;
  color: #0D3C5F;
  margin-bottom: 10px;
}
.testimonials .section-subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -4%;
  color: #555;
  margin-bottom: 50px;
}
.testimonial-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}
.testimonial-card {
  flex: 10  10 300px;
  background-color: #fff;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.05);
  text-align: center;
  transition: transform 0.3s ease;
}
.testimonial-card:hover {
  transform: translateY(-10px);
}
.testimonial-card img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 15px;
}
.testimonial-card h3 {
  font-size: 20px;
  color: #0D3C5F;
  margin-bottom: 5px;
}
.client-role {
  font-size: 14px;
  color: #888;
  margin-bottom: 15px;
}
.client-review {
  font-size: 16px;
  color: #444;
  margin-bottom: 15px;
}
.stars {
  color: #f4b400;
  font-size: 18px;
}

/* PRICING */
.new-pricing {
  width: 100%;
  height: 1200px;
  padding: 80px 20px;
  background-color: #fff;
  text-align: center;
}
.new-pricing .pricing-title {
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -4%;
  color: #0D3C5F;
  margin-bottom: 15px;
}
.new-pricing .pricing-subtitle {
  max-width: 800px;
  margin: 0 auto 50px;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -4%;
  color: #555;
  line-height: 1.6;
}

.pricing-cards {
  width: 100%;
  height: 923px;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  /* height: 500px; */
}

.price-box {
  width: 417px;
  height: 700px;
  background: white;
  padding: 30px 25px;
  border-radius: 12px;
  width: 300px;
  position: relative;
  border: 1px solid rgb(179, 171, 171);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.04);
  margin-top: 50px;
}
.price-box .label {
  position: absolute;
  top: -12px;
  left: -12px;
  background-color: #00C897;
  color: white;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -4%;
  border-radius: 0 0 8px 0;
}
.price-box h3 {
  font-size: 26px;
  font-weight: 500;
  letter-spacing: -4%;
  line-height: 100%;
  color:  #3C557A;
  margin-bottom: 10px;
}
.price-box .desc {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -4%;
  color: #777;
  margin-bottom: 20px;
}
.price-box .price {
  font-size: 21px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -4%;
  color: #3C557A;
  margin-bottom: 20px;
  margin-top: 50px;
}
.price-box .price span {
  font-size: 26px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -4%;
  color: #777;
}

.price-box form {
  margin-top: 50px;
  text-align: left;
  margin-bottom: 20px;
}
.price-box label {
  display: block;
  font-size: 21px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -4%;
  margin: 10px 0 5px;
  color: #3C557A;
  font-weight: 600;
}
.price-box select {
  width: 100%;
  height: 60px;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -4%;
}

.btn-start {
  width: 216px;
  height: 56px;
  display: inline-block;
  margin-top: 10px;
  background-color: #3C557A ;
  color: white;
  padding: 16px 16px 16px 16px;    
  gap: 4.92px;
  text-decoration: none;
  border-radius: 6px;
  font-size: 21px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
  transition: background 0.3s;
}
.btn-start:hover {
  background-color: #00a77b;
}

/* FOOTER */
  
 


.footer{
  width: 100%;
  height: 346px;   
}

.footer .container {
    width: 100%;
}
.top-panel{   
    background-color: #002429E8;
    display: flex;
    padding: 80px 20px 80px 20px;
    gap: 100px;
}
.top-panel h2{
    width: 143px;
    /* height: 23px; */
    font-size: 38px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -4%;
    margin-bottom: 10px;
}
.top-panel p{
    font-size: 18px;
    max-width: 200px;
}
.txt{
    display: flex;
    gap: 50px;
    margin-bottom: 20px;
}
.txt span{
    font-size: 36px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -4%;
}
.txt p{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -4%;
    max-width:400px

}
.bottom-panel{
    text-align: center;
    background-color: #002429E8;
    border-top: 1px solid white;
    padding: 20px 10px;
    height: auto;
}
.bottom-panel p{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -4%;
}